@page
@model DAB2.Pages.AssignedToCourseModel
@{
    ViewData["Title"] = "Assigned To Course";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Create a new course.</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.searchString"></label>
                <input asp-for="Input.searchString" class="form-control" placeholder="1" />
                <span asp-validation-for="Input.searchString" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Find</button>
        </form>
    </div>
</div>

<br/>

<h5>Teachers in course</h5>
<table>
    <tr>
        <th>TeacherAuId</th>
        <th>CourseName</th>
        <th>IsAssistant</th>
    </tr>

    @foreach (var courseTeacher in @Model.CourseTeachers)
    {
        <tr>
            <td>@courseTeacher.TeacherAuId</td>
            <td>@courseTeacher.CourseName</td>
            <td>@courseTeacher.IsAssistant</td>
        </tr>
    }
</table>

<br/>

<h5>Students in course</h5>
<table>
    <tr>
        <th>StudentAuId</th>
        <th>CourseName</th>
    </tr>

    @foreach (var CourseStudent in @Model.CourseStudent)
    {
        <tr>
            <td>@CourseStudent.StudentAuId</td>
            <td>@CourseStudent.CourseName</td>
        </tr>
    }
</table>



