@page
@model CourseContentModel
@{
    ViewData["Title"] = "Course Content";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Search Content by Course name.</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.searchString" class="form-control" placeholder="I4-***"/>
                <span asp-validation-for="Input.searchString" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<br/>

<h5>Content within course</h5>
<table>
    <tr>
        <th>Binary Data</th>
        <th>Group Signup Link</th>
        <th>Audio Link</th>
        <th>Video Link</th>

    </tr>

    @foreach (var course in @Model.Contents)
    {
        <tr>
            <td>@course.BinaryData</td>
            <td>@course.GroupSignupLink</td>
            <td>@course.AudioLink</td>
            <td>@course.VideoLink</td>
        </tr>
    }
</table>
