@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DAB2-Exercise EF core</h1>
</div>

<h5>Search</h5>
<form method="post">
    <div id="searchField" class="input-group">
        <input type="text" class="form-control" name="studentId"/>
        <span class="input-group-addon"></span>
        <button type="submit" class="btn btn-primary" asp-page-handler="SearchStudent" 
            asp-route-id="studentId" class="form-control">Search</button>
    </div>
</form>
<br/>

<h5>List of studentcourse</h5>
<table>
    <tr>
        <th>StudentId</th>
        <th>CourseId</th>
        <th>IsCourseActive</th>
    </tr>

    @foreach (var studentcourse in @Model.CourseStudents)
    {
        <tr>
            <td>@studentcourse.StudentID</td>
            <td>@studentcourse.CourseID</td>
            <td>@studentcourse.IsCourseActive</td>
        </tr>
    }
</table>

<br/>


<h5>List of Courses</h5>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>ContentId</th>
        <th>CalendarId</th>
    </tr>

    @foreach (var course in @Model.Courses)
    {
        <tr>
            <td>@course.CourseId</td>
            <td>@course.Name</td>
            <td>@course.ContentId</td>
            <td>@course.CalendarId</td>
        </tr>
    }
</table>

<br/>
<br />

<h5>List of Students</h5>
<table>
    <tr>
        <th>Au-id</th>
        <th>Name</th>
        <th>Enrolled Date</th>
        <th>Graduation Date</th>
        <th>Group-id</th>
    </tr>

    @foreach (var student in @Model.Students)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.Name</td>
            <td>@student.EnrolledDate</td>
            <td>@student.GraduationDate</td>
            <td>@student.GroupId</td>
        </tr>
    }
</table>

<br/>

<h5>List of Teachers</h5>
<table>
    <tr>
        <th>TeacherId</th>
        <th>Birthday</th>
        <th>Name</th>
    </tr>

    @foreach (var teacher in @Model.Teachers)
    {
        <tr>
            <td>@teacher.TeacherId</td>
            <td>@teacher.Birthday</td>
            <td>@teacher.Name</td>
        </tr>
    }
</table>

<br/>

<h5>Assignments</h5>
<table>
    <tr>
        <th>AssignmentId</th>
        <th>Name</th>
        <th>DueDate</th>
        <th>GroupSize</th>
    </tr>

    @foreach (var assignment in @Model.Assignments)
    {
        <tr>
            <td>@assignment.AssignmentId</td>
            <td>@assignment.Name</td>
            <td>@assignment.DueDate</td>
            <td>@assignment.GroupSize</td>
        </tr>
    }
</table>

<br/>

<h5>Groups</h5>
<table>
    <tr>
        <th>GroupId</th>
    </tr>

    @foreach (var group in @Model.Groups)
    {
        <tr>
            <td>@group.GroupId</td>
        </tr>
    }
</table>

<br/>

<h5>Graded assignments</h5>
<table>
    <tr>
        <th>GroupId</th>
        <th>AssignmentId</th>
        <th>Grade</th>
    </tr>

    @foreach (var groupAssignment in @Model.GroupAssignments)
    {
        <tr>
            <td>@groupAssignment.GroupId</td>
            <td>@groupAssignment.AssignmentId</td>
            <td>@groupAssignment.Grade</td>
        </tr>
    }
</table>

<br/>

<h5>Students within course</h5>
<table>
    <tr>
        <th>StudentId</th>
        <th>CourseId</th>
        <th>Coursed passed</th>
        <th>Course active</th>
    </tr>

    @foreach (var CourseStudent in @Model.CourseStudents)
    {
        <tr>
            <td>@CourseStudent.StudentID</td>
            <td>@CourseStudent.CourseID</td>
            <td>@CourseStudent.IsCoursePassed</td>
            <td>@CourseStudent.IsCourseActive</td>
        </tr>
    }
</table>

