@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">DAB2-Exercise EF core</h3>
</div>

<h5>Search</h5>
<form method="post">
    <div id="searchField" class="input-group">
        <input type="text" class="form-control" name="studentId"/>
        <span class="input-group-addon"></span>
        <button type="submit" class="btn btn-primary" asp-page-handler="SearchStudent" 
            asp-route-id="studentId" class="form-control">Search</button>
    </div>
</form>
<br/>

<h5>List of Courses</h5>
<table>
    <tr>
        <th>Name</th>
        <th>ContentId</th>
        <th>CalendarId</th>
    </tr>

    @foreach (var course in @Model.Courses)
    {
        <tr>
            <td>@course.Name</td>
            <td>@course.ContentId</td>
            <td>@course.CalendarId</td>
        </tr>
    }
</table>

<br/>
<br />

<h5>List of Students</h5>
<table>
    <tr>
        <th>Au-id</th>
        <th>Name</th>
        <th>Enrolled Date</th>
        <th>Graduation Date</th>
    </tr>

    @foreach (var student in @Model.Students)
    {
        <tr>
            <td>@student.AuId</td>
            <td>@student.Name</td>
            <td>@student.EnrolledDate</td>
            <td>@student.GraduationDate</td>
        </tr>
    }
</table>

<br/>

<h5>List of Teachers</h5>
<table>
    <tr>
        <th>AuId</th>
        <th>Birthday</th>
        <th>Name</th>
    </tr>

    @foreach (var teacher in @Model.Teachers)
    {
        <tr>
            <td>@teacher.AuId</td>
            <td>@teacher.Birthday</td>
            <td>@teacher.Name</td>
        </tr>
    }
</table>

<br/>

<h5>Assignments</h5>
<table>
    <tr>
        <th>Name</th>
        <th>DueDate</th>
        <th>GroupSize</th>
    </tr>

    @foreach (var assignment in @Model.Assignments)
    {
        <tr>
            <td>@assignment.Name</td>
            <td>@assignment.DueDate</td>
            <td>@assignment.GroupSize</td>
        </tr>
    }
</table>

<br/>

<h5>Groups</h5>
<table>
    <tr>
        <th>GroupNr</th>
    </tr>

    @foreach (var group in @Model.Groups)
    {
        <tr>
            <td>@group.GroupNr</td>
        </tr>
    }
</table>

<br/>

<h5>Graded assignments</h5>
<table>
    <tr>
        <th>GroupNr</th>
        <th>AssignmentName</th>
        <th>TeacherName</th>
        <th>Grade</th>
    </tr>

    @foreach (var groupAssignment in @Model.GroupAssignments)
    {
        <tr>
            <td>@groupAssignment.GroupNr</td>
            <td>@groupAssignment.AssignmentName</td>
            <td>@groupAssignment.TeacherName</td>
            <td>@groupAssignment.Grade</td>
        </tr>
    }
</table>

<br/>

<h5>Students within course</h5>
<table>
    <tr>
        <th>StudentAuId</th>
        <th>CourseName</th>
        <th>Coursed passed</th>
        <th>Course active</th>
    </tr>

    @foreach (var CourseStudent in @Model.CourseStudents)
    {
        <tr>
            <td>@CourseStudent.StudentAuId</td>
            <td>@CourseStudent.CourseName</td>
            <td>@CourseStudent.IsCoursePassed</td>
            <td>@CourseStudent.IsCourseActive</td>
        </tr>
    }
</table>

<br/>

<h5>Student group</h5>
<table>
    <tr>
        <th>StudentName</th>
        <th>GroupNr</th>
    </tr>

    @foreach (var studentgrop in @Model.StudentGroups)
    {
        <tr>
            <td>@studentgrop.StudentName</td>
            <td>@studentgrop.GroupNr</td>
        </tr>
    }
</table>

