@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h5>List of Courses</h5>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>ContentId</th>
        <th>CalendarId</th>
    </tr>

    @foreach (var course in @Model.Courses)
    {
        <tr>
            <td>@course.CourseId</td>
            <td>@course.Name</td>
            <td>@course.ContentId</td>
            <td>@course.CalendarId</td>
        </tr>
    }
</table>

<br />

<h5>List of Students</h5>
<table>
    <tr>
        <th>Au-id</th>
        <th>Name</th>
        <th>Enrolled Date</th>
        <th>Graduation Date</th>
        <th>Group-id</th>
    </tr>

    @foreach (var student in @Model.Students)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.Name</td>
            <td>@student.EnrolledDate</td>
            <td>@student.GraduationDate</td>
            <td>@student.GroupId</td>
        </tr>
    }
</table>

<br />



<h5>List of Teachers</h5>
<table>
    <tr>
        <th>Id</th>
        <th>Birthday</th>
        <th>Name</th>
    </tr>

    @foreach (var teacher in @Model.Teachers)
    {
        <tr>
            <td>@teacher.TeacherId</td>
            <td>@teacher.Birthday</td>
            <td>@teacher.Name</td>
        </tr>
    }
</table>

<h5>List of Enrolled Students</h5>
<table>
    <tr>
        <th>Student auid</th>
        <th>Course-id</th>
    </tr>

    @foreach (var CourseStudent in @Model.CourseStudents)
    {
        <tr>
            <td>@CourseStudent.StudentID</td>
            <td>@CourseStudent.CourseID</td>
        </tr>
    }
</table>

