@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">DAB2-Exercise EF core</h3>
</div>

<h5>Add functions</h5>
<div>
    <a href="/AddStudent">Add a student</a>
    <br />
    <a href="/AddTeacher">Add a teacher</a>
    <br />
    <a href="/AddCourse">Add a course</a>
    <br />
    <a href="/AddAssignment">Add an assignemt</a>
    <br />
    <a href="/AddGroup">Add a group</a>
    <br />
</div>

<br />

<h5>Join functions</h5>
<div>
    <a href="/EnrollStudentInCourse">Enroll a student in a course</a>
    <br />
    <a href="/AssignStudentToGroup">Assign a student to a group</a>
    <br />
    <a href="/AssignGroupToAssignment">Assign a group to an assignment</a>
    <br />
</div>

<br />

<h5>Search functions</h5>
<div>
    <a href="/StudentCourse">Search Courses by Student AuId</a>
    <br />
    <a href="/CourseContent">Search Content by Course Name</a>
    <br />
    <a href="/AssignedToCourse">Search Teachers & Students in Course</a>
    <br />
    <a href="/StudentCourse_AssignmentGrade">Search Grade-assignment by Student auid and Course Name</a>
    <br />
</div>

<br />

<h5>Grading functions</h5>
<div>
    <a href="/GradeAssignment">Give an assignment a grade</a>
    <br />
    <a href="/GradeStudent">Grade a student</a>
    <br />
</div>


<br />

<h5>List of Courses</h5>
<table>
    <tr>
        <th>Name</th>
    </tr>

    @foreach (var course in @Model.Courses)
    {
        <tr>
            <td>@course.Name</td>
        </tr>
    }
</table>

<br />
<br />

<h5>List of Students</h5>
<table>
    <tr>
        <th>Au-id</th>
        <th>Name</th>
        <th>Enrolled Date</th>
        <th>Graduation Date</th>
    </tr>

    @foreach (var student in @Model.Students)
    {
        <tr>
            <td>@student.AuId</td>
            <td>@student.Name</td>
            <td>@student.EnrolledDate</td>
            <td>@student.GraduationDate</td>
        </tr>
    }
</table>

<br />

<h5>List of Teachers</h5>
<table>
    <tr>
        <th>AuId</th>
        <th>Birthday</th>
        <th>Name</th>
    </tr>

    @foreach (var teacher in @Model.Teachers)
    {
        <tr>
            <td>@teacher.AuId</td>
            <td>@teacher.Birthday</td>
            <td>@teacher.Name</td>
        </tr>
    }
</table>

<br />

<h5>Assignments</h5>
<table>
    <tr>
        <th>Name</th>
        <th>DueDate</th>
        <th>GroupSize</th>
    </tr>

    @foreach (var assignment in @Model.Assignments)
    {
        <tr>
            <td>@assignment.Name</td>
            <td>@assignment.DueDate</td>
            <td>@assignment.GroupSize</td>
        </tr>
    }
</table>

<br />

<h5>Groups</h5>
<table>
    <tr>
        <th>GroupNr</th>
    </tr>

    @foreach (var group in @Model.Groups)
    {
        <tr>
            <td>@group.GroupNr</td>
        </tr>
    }
</table>

<br />

<h5>Graded assignments</h5>
<table>
    <tr>
        <th>GroupNr</th>
        <th>AssignmentName</th>
        <th>TeacherName</th>
        <th>Grade</th>
    </tr>

    @foreach (var groupAssignment in @Model.GroupAssignments)
    {
        <tr>
            <td>@groupAssignment.Group.GroupNr</td>
            <td>@groupAssignment.Assignment.Name</td>

            @if(groupAssignment.Teacher != null){
                <td>@groupAssignment.Teacher.Name</td>
            }
            else
            {
                <td></td>
            }
            <td>@groupAssignment.Grade</td>
        </tr>
    }
</table>

<br />

<h5>Student group</h5>
<table>
    <tr>
        <th>StudentName</th>
        <th>GroupNr</th>
    </tr>

    @foreach (var studentgrop in @Model.StudentGroups)
    {
        <tr>
            <td>@studentgrop.Student.Name</td>
            <td>@studentgrop.Group.GroupNr</td>
        </tr>
    }
</table>
